[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"9f39836" = {path = "/home/wrq/eric/lunar", editable = true}
django = "*"

[dev-packages]

[requires]
python_version = "3.6"
